img {
  padding: 40px;
}

.Portfolios section h3 {
  text-align: center;
}

#Homepage {
  text-align: center;
  padding: 40px;
}

h1 {
  text-align: center;
  padding: 20px;
}


button {
  text-align: center;
}