.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
  /* color: white;
  background-color: black; */
}

button {
  margin: 10px;
}

nav button {
  float: right;
  margin: 20px;
}

nav a {
  float: left;
  margin: 10px;
}

.form-container .input-group {
  width: calc(50% - 20px);
  margin: 10px;
  display: inline-block;
}

.form-container .input-group label {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.form-container .input-group textarea {
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

.form-container {
  width: 80%;
  margin: 0px 10%;
}

.row {
  width: calc(100% - 30px);
  padding: 0px 15px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.row .column {
  flex: 1;
  margin: 0px 15px;
}

.row .column p {
  text-align: justify;
  text-indent: 50px;
}

.row h1, .row h2, .row p.subtitle {
  text-align: left;
  text-indent: 0px !important;
}

.portfolio-container { 
  list-style: none;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.portfolio-container li {
  flex: 1;
  margin: 10px;
  min-width: 300px;
}

.portfolio-container li {
  font-size: 2rem;
  font-weight: bold;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  vertical-align: baseline;
  width: 80%;
  margin: 0px 10%;
}

.filters .input-group {
  flex: 1;
  margin: 0px 5px;
}

select {
  display: inline-block !important;
  border: none !important;
  border-bottom: 1px solid #9e9e9e !important;
  outline: none !important;
}

select:focus {
  outline: none !important;
  border-bottom: 1px solid #26a69a !important;
  box-shadow: 0 1px 0 0 #26a69a;
}

@media all and (max-width: 640px) {
  .input-group {
    width: calc(100% - 20px);
    margin: 10px;
  }
}

/* ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  border-width: 2px;
  border-color: black;
  margin: 10px;
  padding: 10px;
  max-height: 10vh;
  flex-wrap: wrap;
}

button {
  box-shadow: 2px;
} */